.games__grid__entry {
    position: relative;
    z-index: 0;
    height: 318px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
    color: var(--white);
    text-decoration: none;
    transition: 
        var(--timing) transform ease-in-out,
        var(--timing) box-shadow ease-in-out
    ;
    overflow-y: hidden;
}

.games__grid__entry:active {
    transform: scale(0.97);
}

.games__grid__entry, .games__grid__background, .games__grid__content, .games__grid__overlay {
    border-radius: 4px;
}

.games__grid__entry--hover {
    box-shadow: 0px 5px 15px rgba(0,0,0,0.19);
    transform: translateY(-5px);
}

.games__grid__background {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    filter: grayscale(60%);
    transition: var(--timing) filter ease-in-out;
}

.games__grid__entry--hover .games__grid__background {
    filter: grayscale(0);
}

.games__grid__overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to top, rgba(0,0,0,0.2),rgba(0,0,0,0.4),rgba(0,0,0,0.2));
    opacity: 0.5;
    transition: var(--timing) opacity ease-in-out;
}

.games__grid__entry--hover .games__grid__overlay {
    opacity: 1;
}

.games__grid__content__name {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    font-size: 18px;
    padding: 18px;
    box-sizing: border-box;
    font-weight: bold;
    
    opacity: 1;
    transform: translateY(0);

    transition: 
        var(--timing) transform ease-in-out,
        var(--timing) opacity ease-in-out
    ;
}

.games__grid__entry--hover .games__grid__content__name {
    opacity: 0;
    transform: translateY(-10px);
}

.games__grid__content__hover {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
    box-sizing: border-box;

    --icon_distance: 8px;

    opacity: 0;
    transform: translateY(-10);

    transition: 
        var(--timing) transform ease-in-out,
        var(--timing) opacity ease-in-out,
        var(--timing) height ease-in-out
    ;
}

.games__grid__entry--hover .games__grid__content__hover {
    opacity: 1;
    transform: translateY(0);
}

.games__grid__content__hover i {
    margin-bottom: var(--icon_distance);
    font-size: 22px;
}

.games__grid__content__streamers, .games__grid__content__viewers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}