.games__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.games__grid__entry {
    margin: 0;
    position: relative;
}