@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Variables */
:root {
  --white: #ffffff;
  --twitch_purple: #4b367c;
  --black: #000000;
  --text_gray: #c4c4c4;
  --text_gray--dark: #616161;
  --bg_white: #f0f0f0;
  
  --gridSize: 260px;

  --font__stack--main: "Open Sans", Helvetica, sans-serif
}