.singleStream__container {
    --timing: 150ms;
    --timing_slow: 200ms;

    position: relative;
    z-index: 0;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.19);
    overflow-y: hidden;
    transition: 
        var(--timing) box-shadow ease-in-out,
        var(--timing) transform ease-in-out
    ;
}

.singleStream__container--hover {
    box-shadow: 0px 5px 25px rgba(0,0,0,0.17);
    transform: translateY(-5px);
}

/* Some Icon-adjusting thats not individual */
/* For individual settings (positions) */
/* - see specific parent */

.singleStream__container i {
    font-size: 12px;
    display: inline-block;
    color: var(--twitch_purple);
    margin-right: 16px;
}

.singleStream__info > div {
    position: relative;
}

.singleStream__container i:before {
    position: absolute;
}

.singleStream__container__hovertext {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    color: white;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;

    opacity: 0;
    transform: translateY(-15px);
    transition: 
        var(--timing) opacity ease-in-out 200ms,
        var(--timing) transform ease-in-out 200ms
    ;
}
.singleStream__container--hover .singleStream__container__hovertext {
    opacity: 1;
    transform: translateY(0px);
}

.singleStream__backgroundImage__container {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 70%; 
    width: 100%;
    overflow-y: hidden;
    transition: 
        150ms background-color ease-in-out
    ;
}

.singleStream__container--hover .singleStream__backgroundImage__container {
    background-color: var(--twitch_purple);
}

.singleStream__backgroundImage {
    --timing: 150ms;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    transition: 
        var(--timing_slow) height ease-in-out,
        var(--timing_slow) width ease-in-out,
        var(--timing_slow) margin ease-in-out,
        var(--timing) filter ease-in-out,
        var(--timing) opacity ease-in-out
    ;
}

.singleStream__container--hover .singleStream__backgroundImage {
    height: 120%;
    width: 120%;
    margin: -5% 0 0 -10%;
    filter: blur(5px);
    opacity: 0.80;
}

.singleStream__info {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 100%;
    color: black;
    padding: 15px;
    box-sizing: border-box;
}

.singleStream__info__name {
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    margin: 0 0 .2em 0;
}

.singleStream__info__game {
    margin: 0 0 .4em 0;
}

/* Fix for moving up the icon */
.singleStream__info__game i:before {
    top: 2px;
}


.singleStream__info__viewers {
    text-align: right;
}

/* Fix for moving up the icon */
.singleStream__info__viewers i:before {
    top: 3px;
}

.singleStream__info__viewers .text {
    color: var(--black);
    display: inline-block;
    font-size: 13px;
}